* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --wkit-accent-hs: none;
  --wkit-on-accent-rgb: 255, 255, 255;
  --wkit-bg-rgb: 255, 255, 255;
  --wkit-on-bg-rgb: 0, 118, 173;
  --wkit-border-radius: 0px;
  --wkit-font-family: "Retro", sans-serif;
  --wkit-font-family-mono: "Monospace", monospace;
  --wkit-font-size-large: 13px;
  --wkit-font-size-medium: 13px;
  --wkit-font-size-small: 13px;
  --wkit-line-height-large: 13px;
  --wkit-line-height-medium: 13px;
  --wkit-line-height-small: 13px;
  --wkit-button-width: 284px;
}


.wkit-button {
  pointer-events: all;
}

body {
  overflow: hidden;
  background: #222;
}

img {
  image-rendering: pixelated;
}

#game-ui {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  user-select: none;
}

.system-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 100px;
  font-family: 'Verdana';
  font-size: 10pt;
  letter-spacing: 2px;
  color: #aaa;
  text-align: center;
  z-index: 3;
}